<%= stylesheet_link_tag "login_form"%>
<div class="signup-form">
    
	<h2>Register</h2>
	<p class="hint-text">Create your account. It's free and only takes a minute.</p>
   
  <%= form_with(model: @user) do |form|%>
		<%= render partial: "shared/error_messages", locals: {form: form} %>
		<div class="form-group">
			<%= form.text_field :first_name , class: "form-control", placeholder: "First Name", required: true %>
		</div>
      
		<div class="form-group">
			<%= form.text_field :last_name , class: "form-control", placeholder: "Last Name", required: true %>
		</div>
      
		<div class="form-group">
			<%= form.email_field :email , class: "form-control", placeholder: "email", required: true %>
		</div>
		<div class="form-group">
			<%= form.password_field :password , class: "form-control", placeholder: "password", required: true %>
		</div>
		<div class="form-group">
			<%= form.password_field :password_confirmation , class: "form-control", placeholder: "confirm password", required: true %>
		</div>        
		<div class="form-group">
	  	<label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
      <%= form.submit :register , class: "btn btn-success btn-lg btn-block" %>
    </div>
  <%end%>

	<div class="text-center">
		Already have an account?
		<%= link_to "Sign in", new_session_url%>
	</div>
</div>
