<%= stylesheet_link_tag "login_form"%>
<div class="signup-form">
  <%= render partial: "shared/alert_message"%>  
	<h2>Recover</h2>
	<p class="hint-text">Enter your email address, a password recovery link will be sent to you.</p>
   
  <%= form_with  do |form|%>
		
		<div class="form-group">
			<%= form.email_field :email , class: "form-control", placeholder: "email", required: true %>
		</div>

		<div class="form-group">
      <%= form.submit "send reset link" , class: "btn btn-success btn-lg btn-block" %>
    </div>
  <%end%>

</div>
