<center><h1>Place Order</h1></center>
<%=form_with model: @order, url: deal_orders_path do |f| %>
  <%= render partial: "shared/error_messages", locals: {object: f.object} %>
  <div class="container">
    <div class="checkout-container">
      <div class="text-center text-dark">
        <%=image_tag @deal.deal_images[0].file ,class: "product-image"%>
        <h3><%=@deal.title%></h3>
        <p>Price Per Deal: Rs <%=@deal.price%></p>
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <%= f.text_field :quantity %>
        </div>
        <br>
        <%= f.submit :checkout, class: "btn btn-primary btn-place-order"%>
      </div>
    </div>
  </div>
<%end%>  


 <style>
    .checkout-container {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      max-width: 500px;
      margin: 0 auto;
      margin-top: 100px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .product-image {
      max-width: 200px;
      height: auto;
      margin-bottom: 20px;
    }

    .btn-place-order {
      background-color: #007bff;
      color: #fff;
      border: none;
    }
  </style>