<center>
<h1>Admin Reports</h1>
</center>
  <div class="container mt-4 text-dark">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Top Spending Customers
          </div>
          <div class="card-body">
          <div class="row">
              <div class="col"> <strong><%= "Name"%></strong></div>
              <div class="col"> <strong><%= "Spending"%></strong></div>
            </div>
            <br>
            <% @top_customers&.each do |customer| %>
              <div class="row">
                <div class="col"> <%= "#{customer.first_name} #{customer.last_name}"%></div>
                <div class="col"> <%= "Rs #{customer.spending}"%></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Top Grossing Deals
          </div>
          <div class="card-body">
            <%= form_with url: admin_reports_path, method: :get do |form| %>
              <div class="row">
                <div class="form-group col">
                  <label for="start">Start Date:</label>
                  <%= form.date_field :start_at, value: params[:start_at], class: 'form-control' ,required: true %>
                </div>
                <div class="form-group col">
                  <label for="end">End Date:</label>
                  <%= form.date_field :end_at, value: params[:end_at], class: 'form-control',required: true %>
                </div>
              </div>
              <br>
              <%= form.button "filter", class: "btn btn-primary"%>
            <%end%>
            <hr>
            <div class="row">
              <div class="col"> <strong><%= "Deal"%></strong></div>
              <div class="col"> <strong><%= "Revenue"%></strong></div>
            </div>
            <br>
            <% @top_deals&.each do |deal| %>
              <div class="row">
                <div class="col"> <%= "#{deal.title}"%></div>
                <div class="col"> <%= "#{deal.revenue}"%></div>
              </div>
              <hr>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Top Categories
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col"> <strong><%= "Name"%></strong></div>
              <div class="col"> <strong><%= "Qty Sold"%></strong></div>
            </div>
              <br>
            <% @top_categories&.each do |category| %>
              <div class="row">
                <div class="col"> <%= "#{category.name}"%></div>
                <div class="col"> <%= "#{category.quantity_sold}"%></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
