<li>
  <div class="row align-items-center">
    <div class="col-md-3">
      <div class="custom-file">
        <% if f.object.file.attached? %>
          <%= image_tag f.object.file, size: "150x150" %>
        <% else %>
          <%= f.file_field :file, class: "custom-file-input" %>
          <%= f.label :file, class: "custom-file-label" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <%= f.hidden_field :_destroy %>
      <%= link_to 'Delete', '#', class: 'remove_record btn btn-danger', style: 'width: 80px; height: 40px;' %>
    </div>
  </div>
</li>
<br>