<%= stylesheet_link_tag "login_form"%>
<script>
$(document).ready(function(){
 $('form').on('click', '.remove_record', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('li').hide();
    return event.preventDefault();
  });

  $('form').on('click', '.add_fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $($(this).data('target')).append($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
});
</script>
<div class='container mt-4'>
<center><h1>NEW DEAL</h1></center>
<br />

<div>
  <%= form_with(model: [:admin, @deal]) do |form| %>
  <%= render partial: "shared/error_messages", locals: {form: form} %>
  <div class="form-group">
    <%= form.label 'Deal Title'%> 
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group mb-0">
    <%= form.label 'Deal Description'%> 
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label 'Min purchases for a deal to go through'%> 
        <%= form.text_field :threshold_value, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label 'Total Availaible'%> 
        <%= form.text_field :total_availaible, class: 'form-control' %>
      </div>
    </div>  
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label 'Price per deal'%> 
        <%= form.text_field :price, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label 'Deal start date'%> 
        <%= form.date_field :start_at, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label 'Deal expire date'%> 
        <%= form.date_field :expire_at, class: 'form-control' %>
      </div>
    </div>  
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label 'Max deal allowed per user'%> 
        <%= form.text_field :max_per_user, class: 'form-control' %>
      </div>
    </div>
  </div>
<br>
<%= form.label :locations %>

  <ul>
  <div class='addresses'>
  <%= form.fields_for :locations do |location_form| %>
  

    <%= render 'location', f: location_form %>
   
     
    <%end%>
  </div>
  </ul>

  <%= link_to_add_row('Add Location', form , :locations, class: 'btn btn-primary', target: ".addresses") %>

  <div class="form-group">
    <%= form.label 'Deal Category'%> 
    <br>
    <%= form.collection_select  :category_id, Category.all, :id, :name ,class: 'custom-select', prompt: 'Select One' %>
  </div>
  
  <div>
    <%= form.label :published, style: "display: block" %>
    <%= form.check_box :published %>
  </div>

  <%= form.label :images %>

  <ul>
  <div class='images'>
  <%= form.fields_for :images_attachments do |image_form| %>
    <%= render 'images_attachment' , f: image_form%>
  
  <%end%>
  </div>
  </ul>

 <%= link_to_add_row('Add Images', form , :images_attachments, class: 'btn btn-primary', target: ".images") %>
  

 <center>
  <div>
    <%= form.submit 'Create Deal',class: "btn btn-success btn-lg btn-block" %>
  </div>
  </center>


  <%end%>
</div>
</div>
